.song-card{
    
    background-color:rgb(223, 211, 211);
    width: 200px;
    height: 300px;
    padding-left: 25px;
    align-items: center;
    border-radius: 8px;
    margin: 8px;
}
.album-cover-image{
    width: 150px;
    height: 150px;
}
.songs-grid{
    display: flex;
    flex-flow: row wrap;

}

.song-search-input{

box-sizing: border-box;

position: absolute;
width: 400px;
height: 50px;

background: #D66ECC;
font-size: 32px;
box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
margin-top: 40px;
border: 0;

}

.clear-button{
    margin-top: 40px;
      background: #D66ECC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 0px;
    cursor: pointer;

   font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 14px 36px;
    color: #000000;

    margin-left: 430px;
}